body {
    background: #fff;
}

#body {
    padding: 0;
    flex: none;
}

.table {
    font-size: 18px;
    width: calc(50% - 20px);
}

.table .rank {
    text-align: center;
    white-space: nowrap;
    width: 60px;
}

.c-tab {
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid #fff;
}

.c-tab:hover {
    background: #fd7237;
    color: #fff;
}

.c-tab-box {
    display: flex;
    margin-left: 5px;
    margin: 20px 15px;
}

.table .a {
    text-align: right;
    width: 120px;
}

.keywords em {
    font-style: inherit;
    color: #fd7237;
    font-weight: bold;
}

.table a {
    color: #1fab89
}

.table thead th {
    position: relative;
    color: #777;
    text-align: left;
    font-size: 14px;
}

.table th, .table td {
    padding: 10px;
    /*white-space: nowrap;*/
    font-size: 14px;
    border: none !important;
}

.table tbody tr, table {
    border: none
}

.table tbody tr:nth-child(odd) td {
    background: #f9f9f9;
}

.table tbody tr td:first-child {
    border-radius: 35px 0 0 35px;
}

.table tbody tr td:last-child {
    border-radius: 0 35px 35px 0;
}

.table tbody tr:nth-child(odd) td {
    background: #f9f9f9;
}

.table tbody tr:hover td {
    background: #6f79ed;
    color: #fff;
}

.table tbody tr:hover td a {
    color: #ffbf3b;
    text-decoration: solid;
}

.banner {
    background: url(https://img.amz123.com/upload/banner/slider.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

.banner .banner-form {
    width: 50%;
    margin: 20px auto;
    padding-bottom: 15px;
}

.banner .banner-form h3, .banner .banner-form h3 a {
    font-size: 24px;
    color: #ffbf3b;
    text-align: center;
    padding-top: 32px;
    font-weight: bold;
}

.banner .banner-form input:focus {
    outline: none;
}

.banner .banner-form h3 b {
    font-weight: bold;
    color: #fd7237;
}

.banner .banner-form h3 span {
    display: inline-block;
    font-size: 14px;
    color: #999999;
    padding-left: 10px;
}

.banner .banner-form h3 span em {
    color: #fd7237;
}

.banner .banner-form .input-wrap {
    height: 55px;
    margin-top: 5px;
    position: relative;
    display: flex;
}

.banner .banner-form .input-wrap input {
    float: left;
    width: calc(100% - 105px);
    height: 51px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 35px 0 0 35px;
    border: none;
}

.banner .banner-form .input-wrap input::-webkit-input-placeholder {
    font-size: 16px;
    color: #999;
}

.banner .banner-form .input-wrap input::-moz-placeholder {
    font-size: 16px;
    color: #999;
}

.banner .banner-form .input-wrap input:-ms-input-placeholder {
    font-size: 16px;
    color: #999;
}

.table-wrapper {
    display: flex;
    justify-content: space-between
}

.banner .banner-form .input-wrap .form-btn {
    float: left;
    width: 105px;
    height: 51px;
    text-align: center;
    line-height: 51px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fd7237;
    font-size: 18px;
    color: #fff;
    border-radius: 0 35px 35px 0;
}

.banner .banner-form .input-wrap .form-error {
    display: none;
    clear: both;
    font-size: 14px;
    color: #df0d0d;
    position: absolute;
    top: 20px;
    left: 327px;
}

.banner .banner-form .banner-scroll {
    overflow: hidden;
    padding-left: 200px;
    height: 72px;
}

.banner .banner-form .banner-scroll ul li {
    cursor: pointer;
    overflow: hidden;
}

.banner .banner-form .banner-scroll ul li .box {
    float: left;
    position: relative;
    width: 115px;
    box-sizing: border-box;
    padding-left: 22px;
    margin-right: 115px;
    margin-top: 17px;
    font-size: 14px;
    color: #999999;
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-image: url("../images/icon/icon-01.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(2) {
    background-image: url("../images/icon/icon-02.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(3) {
    background-image: url("../images/icon/icon-03.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(4) {
    background-image: url("../images/icon/icon-04.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(5) {
    background-image: url("../images/icon/icon-05.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(6) {
    background-image: url("../images/icon/icon-06.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(7) {
    background-image: url("../images/icon/icon-07.png");
}

.banner .banner-form .banner-scroll ul li .box:nth-child(8) {
    background-image: url("../images/icon/icon-08.png");
}

.banner .banner-form .banner-scroll ul li .box .icon-hot {
    position: absolute;
    width: 31px;
    height: 14px;
    background-image: url("../images/img-bg.png");
    background-repeat: no-repeat;
    background-position: -390px 4px;
    margin-left: 4px;
}

.banner .banner-form .banner-list {
    width: 100%;
    height: 115px;
    background: #fff;
    margin-top: 22px;
    box-shadow: 1.8px 3.6px 6px 0px rgba(0, 0, 0, 0.1);
}

.banner .banner-form .banner-list .list-box {
    margin-top: 23px;
    padding-left: 35px;
    float: left;
    width: 300px;
    height: 68px;
    border-right: 1px solid #eaeeef;
    box-sizing: border-box;
    cursor: pointer;
}

.banner .banner-form .banner-list .list-box span {
    position: relative;
    float: left;
    width: 68px;
    height: 68px;
}

.banner .banner-form .banner-list .list-box span i {
    position: absolute;
    width: 14px;
    height: 19px;
    left: 29px;
    top: 24px;
    background: url("../images/sanjiao.png") no-repeat 0 0;
}

.banner .banner-form .banner-list .list-box .bl-txt {
    float: left;
    padding-top: 17px;
    padding-left: 14px;
}

.banner .banner-form .banner-list .list-box .bl-txt a {
    position: relative;
    font-size: 16px;
    color: #666666;
    padding-right: 25px;
    font-weight: bold;
}

.banner .banner-form .banner-list .list-box .bl-txt a .icon {
    position: absolute;
    top: 3px;
    right: 0px;
    width: 17px;
    height: 17px;
    background: url("../images/right.png") no-repeat 0 0;
}

.banner .banner-form .banner-list .list-box .bl-txt p {
    font-size: 12px;
    color: #999999;
}

.banner .banner-form .banner-list .list-box:hover a {
    color: #4f89fd;
}

.banner .banner-form .banner-list .last {
    border-right: 0px;
}

@media (max-width: 992px) {
    .table-wrapper {
        display: block;
    }

    .table {
        width: 100%;
    }

    .banner .banner-form {
        width: 100%;
    }

    .banner .banner-form .input-wrap {
        margin: 30px 20px;
    }

    .banner .banner-form .input-wrap input {
        width: calc(100% - 105px)
    }

    .l1, .r1 {
        width: 100% !important;
    }
}

.icon-shangsheng {
    color: red !important;
}

.icon-xiajiang {
    color: green !important;
}

.filter {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.filter .filter-item {
    display: flex;
}

.filter .filter-item .filter-title {
    width: 70px;
    font-size: 14px;
    color: #bbbbbb;
    padding: 4px 0px;
}

.filter .filter-item a.cur {
    background: #f2f2f2;
    color: #ea690d;
    border-radius: 4px;
}

.filter .filter-item a {
    font-size: 14px;
    color: #282828;
    line-height: 30px;
    padding: 4px 12px;

}